@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-blue: rgb(113 138 149);
    --main-grey: #24252a;
    --main-white: aliceblue;
}

* {
    font-family: "montserrat";
    background-color: var(--main-grey);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    animation: dis 1.5s;
    animation-iteration-count: 1;
}

main {
    height: calc(100% - 100px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

nav {
    margin-left: 50px;
}

.main-section {
    height: 40%;
    width: 100%;
}

.main-heading {
    font-family: "Silkscreen";
    color: var(--main-white);
    cursor: default;
    font-size: 50px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: "Silkscreen";
    font-size: 50px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--main-white);
    animation: breathe 5s;
    animation-iteration-count: infinite;
}

.introp {
    color: var(--main-blue);
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-white {
    font-family: "Silkscreen";
    font-size: 3rem;
    color: var(--main-white);
}

.socials {
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.block-container {
    text-decoration: none;
    box-shadow: -5px 5px var(--main-blue);
    min-width: 130px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    margin: 15px;
    padding: 1%;
    transition: all 0.3s ease;
    flex-wrap: wrap;

    .inner-heading {
        padding: 2%;
        width: 100%;
    }
}

.block-container:hover {
    box-shadow: -7px 7px var(--main-blue);
}

.text-blue {
    color: aliceblue;
}

.exp-box {
    min-width: 300px !important;
    min-height: 120px !important;
    width: 20.5% !important;
    overflow: hidden;
}

.project-box {
    width: 30.5% !important;
    overflow: hidden;
}

.info-white {
    color: var(--main-white);
    font-size: 20px;
}

.about-body {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.info-a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 40px 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    padding: 30px;
    padding-top: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.education-heading,
.skills-heading {
    color: var(--main-blue);
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
}

.education-content,
.skills-content {
    color: var(--main-white);
    text-align: center;
    padding: 3px;
}

.education-content,
.education-heading,
.skills-content,
.skills-heading :hover {
    cursor: default;
}

.exp-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.education-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.education-content {
    position: relative;
    bottom: -7px;
}

.work-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.animated {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.animated:nth-child(1) {
    animation-delay: 0.2s;
}

.animated:nth-child(2) {
    animation-delay: 0.4s;
}

.animated:nth-child(3) {
    animation-delay: 0.6s;
}

.animated:nth-child(4) {
    animation-delay: 0.8s;
}

.animated:nth-child(5) {
    animation-delay: 1s;
}

.animated:nth-child(6) {
    animation-delay: 1.2s;
}

.animated:nth-child(7) {
    animation-delay: 1.4s;
}

.animated:nth-child(8) {
    animation-delay: 1.6s;
}

.animated:nth-child(9) {
    animation-delay: 1.8s;
}

.animated:nth-child(10) {
    animation-delay: 2s;
}

.animatedy {
    opacity: 0;
    animation: fadeIny 1s forwards;
}

.animatedy:nth-child(1) {
    animation-delay: 0.2s;
}

.animatedy:nth-child(2) {
    animation-delay: 0.4s;
}

.animatedy:nth-child(3) {
    animation-delay: 0.6s;
}

.animatedy:nth-child(4) {
    animation-delay: 0.8s;
}

.animatedy:nth-child(5) {
    animation-delay: 1s;
}

.animatedy:nth-child(6) {
    animation-delay: 1.2s;
}

.animatedy:nth-child(7) {
    animation-delay: 1.4s;
}

.animatedy:nth-child(8) {
    animation-delay: 1.6s;
}

.animatedy:nth-child(9) {
    animation-delay: 1.8s;
}

.animatedy:nth-child(10) {
    animation-delay: 2s;
}

.animatedy:nth-child(11) {
    animation-delay: 0.2s;
}

.animatedy:nth-child(12) {
    animation-delay: 0.4s;
}

.animatedy:nth-child(13) {
    animation-delay: 0.6s;
}

.animatedy:nth-child(14) {
    animation-delay: 0.8s;
}

.animatedy:nth-child(15) {
    animation-delay: 1s;
}

.animatedy:nth-child(16) {
    animation-delay: 1.2s;
}

.animatedy:nth-child(17) {
    animation-delay: 1.4s;
}

.animatedy:nth-child(18) {
    animation-delay: 1.6s;
}

.animatedy:nth-child(19) {
    animation-delay: 1.8s;
}

.animatedy:nth-child(20) {
    animation-delay: 2s;
}

.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    padding-top: 3%;
    padding-left: 3%;
}

.sub-info {
    font-size: 14px;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.d-none {
    /* display: none !important; */
    visibility: hidden !important;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

ul {
    padding: 5px 0px 10px 15px;
}

li {
    margin: 2px 0;
}

.dwnld-btn {
    position: relative;
}

.p-1 {
    padding: 0.25rem !important;
}

.bg-white {
    background-color: #fff !important;
}

.mt-2 {
    margin-top: 0.75rem !important;
}

.img-project-1 {
    background-image: url(../images/project-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    transition: all .6s;
}

.img-project-1:hover {
    background-image: url(../images/project-1.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

}

.img-project-2 {
    background-image: url(../images/project-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    transition: all .6s;
}

.img-project-2:hover {
    background-image: url(../images/project-2.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}



/*  Keyframes below */
@keyframes dis {
    0% {
        opacity: 0;
        list-style: none;
    }

    100% {
        opacity: 100;
        list-style: none;
    }
}

@keyframes breathe {
    0% {
        color: #ffadad;
    }

    12.5% {
        color: #ffd6a5;
    }

    25% {
        color: #fbff95;
    }

    37.5% {
        color: #b6ffa7;
    }

    50% {
        color: #94f6ff;
    }

    62.5% {
        color: #a0c4ff;
    }

    75% {
        color: #b5a8ff;
    }

    87.5% {
        color: #ffbaff;
    }

    100% {
        color: #fea4a4;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIny {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}