.logo {
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

header ul {
    list-style: none;
    animation: dis 1.5s;
    animation-iteration-count: 1;
}

header ul li {
    display: inline-block;
    padding: 10px 20px;
}

header ul li a {
    color: var(--main-white);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link:hover {
    color: var(--main-blue);
}

.current {
    color: var(--main-blue)
}

.button {
    padding: 7px 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--main-blue);
    text-decoration: none;
    font-weight: 500;
    color: var(--main-white);
    transition: all 0.3s ease 0s;
}

.button:hover,
.current-button {
    border-color: var(--main-blue);
    background-color: var(--main-blue);
    color: var(--main-grey);
}

@keyframes dis {
    0% {
        opacity: 0;
        list-style: none;
    }

    100% {
        opacity: 100;
        list-style: none;
    }
}

@media screen and (max-width:700px) {

    nav {
        margin-left: 0;
    }

    header ul li a {
        color: var(--main-white);
        font-weight: 600;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        font-size: small;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        height: 100px;
    }

    .logo {
        height: 40px;
        width: 40px;
        border-radius: 100px;
    }

    .button {
        padding: 7px 7px;
        border-style: solid;
        border-radius: 50px;
        border-width: 2px;
        border-color: var(--main-blue);
        text-decoration: none;
        font-weight: 500;
        color: var(--main-white);
        transition: all 0.3s ease 0s;
        font-size: small;
    }

    .button:hover,
    .current-button {
        border-color: var(--main-blue);
        background-color: var(--main-blue);
        color: var(--main-grey);
    }

    header ul li {
        display: inline-block;
        padding: 10px 7px;
    }

}